.app(style="position:relative")
	div(style="minHeight:100%;marginBottom:-60px;paddingBottom:60px;boxSizing:border-box")
		Navbar
			Header
				Brand 
					a(onClick=this.goTo.bind(this,"/")) DCS-Manager
				Toggle
			Collapse(fixedTop)
				Nav
					each name in Object.keys(menu)
						NavItem(active=(location.pathname.indexOf(menu[name]) == 0) onClick=this.goTo.bind(this,menu[name]))= name
		- var route = this.props.route
		if route.name == "404"
			.container
				h4 404 - Seite nicht gefunden
		else
			case route.name
				when "home"
					- setTimeout(()=>this.props.location.replace("/workshop"))
				when "rentals"
					= route.render({onSelect:this.showRental.bind(this,false)})
				when "rental"
					= route.render({rental:this.props.params.rental,onCreate:this.showRental.bind(this,true)})
				when "sales"
					= route.render({onSelect:this.showSale.bind(this,false)})
				when "sale"
					= route.render({sale:this.props.params.sale,onCreate:this.showSale.bind(this,true)})
				when "services"
					= route.render({onSelect:this.showService.bind(this,false)})
				when "service"
					= route.render({service:this.props.params.service,onCreate:this.showService.bind(this,true)})
				when "templates"
					= route.render({})
script(section="body").
	goTo(path,replace,e){
		this.props.location[replace?"replace":"push"](path);
	}
	showRental(replace,rental){
		this.goTo("/properties/"+rental,replace);
	}
	showSale(replace,sale){
		this.goTo("/cars/"+sale,replace);
	}
	showService(replace,service){
		this.goTo("/workshop/"+service,replace);
	}
script.
	var client = require("./client");
	var Navbar = require("react-bootstrap/lib/Navbar");
	var {Collapse,Toggle,Brand,Header} = Navbar;
	var Nav = require("react-bootstrap/lib/Nav");
	var NavItem = require("react-bootstrap/lib/NavItem");
	var {Router} = require("react-route-system");
	
	Component.router = new Router()
		.add("home","")
		.add("rentals","/properties",require("./rentals"))
		.add("rental","/properties/:rental",require("./rental"))
		.add("sales","/cars",require("./sales"))
		.add("sale","/cars/:sale",require("./sale"))
		.add("services","/workshop",require("./services"))
		.add("service","/workshop/:service",require("./service"))
		.add("templates","/templates",require("./templates"))
		.add("404","*")
	
	var menu = {
		"Immobilien":"/properties",
		"Occasionen":"/cars",
		"Werkstatt":"/workshop",
		"Vorlagen":"/templates"
	}
